Function/function.wpf/Web References/Service_Oracle/Service_Oracle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="param_sperator_get">
        <s:complexType />
      </s:element>
      <s:element name="param_sperator_getResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param_sperator_getResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="item_sperator_get">
        <s:complexType />
      </s:element>
      <s:element name="item_sperator_getResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item_sperator_getResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_Table_Get">
        <s:complexType />
      </s:element>
      <s:element name="Excute_Table_GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excute_Table_GetResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_Table">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_TableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excute_TableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_Table_Rtn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_Table_RtnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excute_Table_RtnResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excute_QueryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_Query_Cnt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cnt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excute_Query_CntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excute_Query_CntResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_FileInfoGet">
        <s:complexType />
      </s:element>
      <s:element name="Update_FileInfoGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Update_FileInfoGetResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_FileStreamGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_FileStreamGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Update_FileStreamGetResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="param_sperator_getSoapIn">
    <wsdl:part name="parameters" element="tns:param_sperator_get" />
  </wsdl:message>
  <wsdl:message name="param_sperator_getSoapOut">
    <wsdl:part name="parameters" element="tns:param_sperator_getResponse" />
  </wsdl:message>
  <wsdl:message name="item_sperator_getSoapIn">
    <wsdl:part name="parameters" element="tns:item_sperator_get" />
  </wsdl:message>
  <wsdl:message name="item_sperator_getSoapOut">
    <wsdl:part name="parameters" element="tns:item_sperator_getResponse" />
  </wsdl:message>
  <wsdl:message name="Excute_Table_GetSoapIn">
    <wsdl:part name="parameters" element="tns:Excute_Table_Get" />
  </wsdl:message>
  <wsdl:message name="Excute_Table_GetSoapOut">
    <wsdl:part name="parameters" element="tns:Excute_Table_GetResponse" />
  </wsdl:message>
  <wsdl:message name="Excute_TableSoapIn">
    <wsdl:part name="parameters" element="tns:Excute_Table" />
  </wsdl:message>
  <wsdl:message name="Excute_TableSoapOut">
    <wsdl:part name="parameters" element="tns:Excute_TableResponse" />
  </wsdl:message>
  <wsdl:message name="Excute_Table_RtnSoapIn">
    <wsdl:part name="parameters" element="tns:Excute_Table_Rtn" />
  </wsdl:message>
  <wsdl:message name="Excute_Table_RtnSoapOut">
    <wsdl:part name="parameters" element="tns:Excute_Table_RtnResponse" />
  </wsdl:message>
  <wsdl:message name="Excute_QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Excute_Query" />
  </wsdl:message>
  <wsdl:message name="Excute_QuerySoapOut">
    <wsdl:part name="parameters" element="tns:Excute_QueryResponse" />
  </wsdl:message>
  <wsdl:message name="Excute_Query_CntSoapIn">
    <wsdl:part name="parameters" element="tns:Excute_Query_Cnt" />
  </wsdl:message>
  <wsdl:message name="Excute_Query_CntSoapOut">
    <wsdl:part name="parameters" element="tns:Excute_Query_CntResponse" />
  </wsdl:message>
  <wsdl:message name="Update_FileInfoGetSoapIn">
    <wsdl:part name="parameters" element="tns:Update_FileInfoGet" />
  </wsdl:message>
  <wsdl:message name="Update_FileInfoGetSoapOut">
    <wsdl:part name="parameters" element="tns:Update_FileInfoGetResponse" />
  </wsdl:message>
  <wsdl:message name="Update_FileStreamGetSoapIn">
    <wsdl:part name="parameters" element="tns:Update_FileStreamGet" />
  </wsdl:message>
  <wsdl:message name="Update_FileStreamGetSoapOut">
    <wsdl:part name="parameters" element="tns:Update_FileStreamGetResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_OracleSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="param_sperator_get">
      <wsdl:input message="tns:param_sperator_getSoapIn" />
      <wsdl:output message="tns:param_sperator_getSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="item_sperator_get">
      <wsdl:input message="tns:item_sperator_getSoapIn" />
      <wsdl:output message="tns:item_sperator_getSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excute_Table_Get">
      <wsdl:input message="tns:Excute_Table_GetSoapIn" />
      <wsdl:output message="tns:Excute_Table_GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excute_Table">
      <wsdl:input message="tns:Excute_TableSoapIn" />
      <wsdl:output message="tns:Excute_TableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excute_Table_Rtn">
      <wsdl:input message="tns:Excute_Table_RtnSoapIn" />
      <wsdl:output message="tns:Excute_Table_RtnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excute_Query">
      <wsdl:input message="tns:Excute_QuerySoapIn" />
      <wsdl:output message="tns:Excute_QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excute_Query_Cnt">
      <wsdl:input message="tns:Excute_Query_CntSoapIn" />
      <wsdl:output message="tns:Excute_Query_CntSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_FileInfoGet">
      <wsdl:input message="tns:Update_FileInfoGetSoapIn" />
      <wsdl:output message="tns:Update_FileInfoGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_FileStreamGet">
      <wsdl:input message="tns:Update_FileStreamGetSoapIn" />
      <wsdl:output message="tns:Update_FileStreamGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_OracleSoap" type="tns:Service_OracleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="param_sperator_get">
      <soap:operation soapAction="http://tempuri.org/param_sperator_get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="item_sperator_get">
      <soap:operation soapAction="http://tempuri.org/item_sperator_get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Table_Get">
      <soap:operation soapAction="http://tempuri.org/Excute_Table_Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Table">
      <soap:operation soapAction="http://tempuri.org/Excute_Table" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Table_Rtn">
      <soap:operation soapAction="http://tempuri.org/Excute_Table_Rtn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Query">
      <soap:operation soapAction="http://tempuri.org/Excute_Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Query_Cnt">
      <soap:operation soapAction="http://tempuri.org/Excute_Query_Cnt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_FileInfoGet">
      <soap:operation soapAction="http://tempuri.org/Update_FileInfoGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_FileStreamGet">
      <soap:operation soapAction="http://tempuri.org/Update_FileStreamGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_OracleSoap12" type="tns:Service_OracleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="param_sperator_get">
      <soap12:operation soapAction="http://tempuri.org/param_sperator_get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="item_sperator_get">
      <soap12:operation soapAction="http://tempuri.org/item_sperator_get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Table_Get">
      <soap12:operation soapAction="http://tempuri.org/Excute_Table_Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Table">
      <soap12:operation soapAction="http://tempuri.org/Excute_Table" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Table_Rtn">
      <soap12:operation soapAction="http://tempuri.org/Excute_Table_Rtn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Query">
      <soap12:operation soapAction="http://tempuri.org/Excute_Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute_Query_Cnt">
      <soap12:operation soapAction="http://tempuri.org/Excute_Query_Cnt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_FileInfoGet">
      <soap12:operation soapAction="http://tempuri.org/Update_FileInfoGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_FileStreamGet">
      <soap12:operation soapAction="http://tempuri.org/Update_FileStreamGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Oracle">
    <wsdl:port name="Service_OracleSoap" binding="tns:Service_OracleSoap">
      <soap:address location="http://210.100.70.3/Service_Oracle.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_OracleSoap12" binding="tns:Service_OracleSoap12">
      <soap12:address location="http://210.100.70.3/Service_Oracle.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>